.div {
	height: 20%;
	padding: 10%;
	text-align: center;
}

.btn {
	margin: 20px;
	width: 250px;
	height: 40px;
	background-color: gray;
	font-weight: bold;
	font-size: 30px;
}

.img {
	margin: 20px;		
	width: 250px;
	height: 175px;
}

#div1 {
	background-color: orange;
}

#div2 {
	background-color: pink;
}