.div:hover {
	font-weight: bold;
}

.div {
	height: 20%;
	padding: 10%;
	text-align: center;
}

.img {
	width: 700px;
	height: 490px;
}

#div1 {
	font-size: 40px;
	color: blue;
	background-color: orange;
}

#div2 {
	background-color: pink;
}

#div3 {
	display: none;
	background-color: yellow;
}