.div:hover {
	font-weight: bold;
}

.div {
	display: table-row;
	width: 100%;
	padding: 10%;
	text-align: center;
}

.img {
	width: 70%;
	height: 70%;
}

#div1 {
	font-size: 40px;
	color: blue;
	background-color: orange;
}

#div2 {
	background-color: pink;
}

#div3 {
	display: none;
	background-color: yellow;
}