.div:hover {
	font-weight: bold;
}

.div {
	padding: 10%;
	text-align: center;
}

#div1 {
	font-size: 15px;
	color: blue;
	background-color: orange;
}

#div2 {
	font-size: 10px;
	color: green;
	background-color: pink;
}